.excel-addin {
  &-accord-item-poc > div > button {
    display: flex !important;
    height: 100% !important;
    padding: 0 !important;
    color: #111111 !important;
    font-size: 1.8rem !important;
    font-family: "Inter" !important;
    line-height: 2.6rem !important;
    min-height: auto !important;
  }
  &-accord-item-poc > div > button > span {
    padding: 0 !important;
    fill: #9b9b9b !important;
    width: 2.4rem !important;
    height: 2.4rem !important;
  }
}
