.excel-addin {
  &-column-mapping-container {
    background-color: #f5f6f7;
    border-radius: 8px;
    padding: 1.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &-group {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &__fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0.8rem;
    }
  }
}
