.excel-addin {
  &-dropdown-poc button {
    font-family: "Inter" !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.8rem !important;
    // color: #111111 !important;
    line-height: 2.6rem !important;
    height: 4rem;
    padding: 0.8rem 1.2rem !important;
  }
}
