.excel-addin {
  &-textarea-poc {
    textarea {
      padding: 1.2rem !important;
      min-height: 9.6rem !important;
      font-family: "Poppins" !important;
      border-radius: 4px !important;
      font-weight: 500 !important;
      font-size: 1.4rem !important;
      line-height: 2.1rem !important;
      background-color: #fafafa !important;
      min-width: 1rem !important;
      // color: #111111 !important;
    }
  }
}
