.excel-addin {
  &-combobox-poc {
    font-family: "Inter" !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.8rem !important;
    // color: #111111 !important;
    line-height: 2.6rem !important;
    height: 4.2rem !important;
    padding: 0.8rem 1.2rem !important;
    min-width: 1rem !important;
  }
  &-combobox-poc input {
    font-family: "Inter" !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.8rem !important;
    color: #111111 !important;
    line-height: 2.6rem !important;
    padding: 0 !important;
    min-width: 1rem !important;
  }
  &-combobox-poc input::placeholder {
    font-family: "Inter" !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.8rem !important;
    color: #9b9b9b !important;
    line-height: 2.6rem !important;
  }
}
