.excel-addin {
  &-assumptions-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    min-height: 80vh;
    justify-content: space-between;
  }
  &-steps-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  &-navigation-buttons-container {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    justify-content: center;
  }
  &-flex-gapped {
    display: flex;
    gap: 1.2rem;

    &--column {
      flex-direction: column;
    }
  }
}
